/*************** FONTS ******************/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
	font-family: "Poppins", sans-serif;
	margin: 0;
	padding: 0;
	text-decoration: none;
}
/*************** SECTION ******************/

section {
	background: linear-gradient(136.16deg, rgba(91, 135, 75, 0.97) 12.91%, rgba(12, 55, 32, 0.87) 87.68%);
	height: 100vh;
}
/*************** SECTION CONTAINER ******************/
/****************************************************/
section .container {
	max-width: 1100px;
	margin: 0 auto;
	padding-top: 50px;
	height: 100%; /*B-1.1 */
}
/***************  HEADER ******************/
section .container header,
section .container header .left,
section .container header .right {
	display: flex; /*Aligner le tout A-1.1*/
	justify-content: space-between;
	flex-direction: row; /*A-1.1 */
	align-items: center;
}
/******* NAV ******/
/*
 section .container nav {
	display: flex; /*Aligner le tout A-1.2
	align-items: center;
	flex-direction: row; /*A-1.2 
} */
section .container nav a {
	margin-left: 50px; /* Ecarter les linkS B-1 */
	color: white;
	font-size: 14px;
	outline: none;
}
section .container nav a:nth-child(5) {
	font-weight: 500;
	border: 1px solid white;
	padding: 10px 20px;
	border-radius: 50px;
}
/*************** MAIN CONTENT ******************/

/*B-*/
/*B-1.2-*/
section .container .main-content {
	height: 80%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
<<<<<<< HEAD
/*************** BLOC lEFT ******************/
=======
/******** MAIN CONTENT LEFT  ***********/
>>>>>>> MainBoxes

/*B-1.3- permet de toucher le .left(section .container > .left)*/
section .container .main-content .left {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 80%;
}
section .container .main-content .left::before {
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	background-image: url(/Assets/Media/img/shadow.png);
	background-size: 100%;
	background-repeat: no-repeat;
	z-index: 0;
}
section .container .main-content .left .infos {
	position: absolute;
	display: flex;
	flex-direction: row;
	bottom: 0;
	left: 0;
}
section .container .main-content .left .infos .infos-bloc-left {
	display: flex;
	flex-direction: column;
	align-self: flex-end;
	text-align: right;
	color: #fff;
	margin-right: 20px;
}
section .container .main-content .left .infos-bloc-left span:nth-child(1) {
	font-weight: bold;
	font-size: 20px;
	line-height: 180%;
}
section .container .main-content .left .infos-bloc-left span:nth-child(2) {
	font-weight: normal;
	font-size: 16px;
	line-height: 180%;
}
/*************** BLOC RIGHT ******************/
/******* BLOC TXT ******/
/*B-1.4*/
section .container .main-content .right {
	padding-left: 100px;
}
section .container .main-content .bloc-text {
	color: white;
}
section .container .main-content .bloc-text span {
	font-weight: 700;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}
section .container .main-content .bloc-text h1 {
	font-weight: 900;
	font-size: 68px;
	line-height: 109%;
	margin: 14px 0;
}
section .container .main-content .bloc-text p {
	font-size: 16px;
	line-height: 180%;
	margin: 25px 0;
}
/****** BLOC BTN *********/
/*C-*/
section .container .main-content .bloc-btn {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	color: white;
	margin-top: 50px;
}
section .container .main-content .bloc-btn .book-now {
	padding: 10px 20px;
	background-image: url(/Assets/Media/svg/btn-svg-filled.svg);
	background-size: 100% 100%;
	width: 170px;
	height: 83px;
	display: flex;
	align-items: center;
	justify-content: center;
}
section .container .main-content .bloc-btn a {
	font-weight: 600;
	font-size: 15px;
	line-height: 22px;
	color: #303056;
}
section .container .main-content .bloc-btn .track a {
	color: white;
	font-weight: 600;
	font-size: 15px;
}
/***************  BOTTOM CONTENT ******************/
section .container .bottom-content {
	display: flex;
	justify-content: center;
	flex-direction: row;
}
section .container .bottom-content .old-ghost-btn {
	background-image: url(/Assets/Media/svg/btn-svg-not-filled.svg);
	padding: 10px 20px;
	background-size: 100% 100%;
	width: 170px;
	height: 83px;
	display: flex;
	align-items: center;
	justify-content: center;
}
section .container .bottom-content .old-ghost-btn a {
	color: white;
	font-weight: 600;
	font-size: 15px;
}
