/*************** FONTS ******************/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
	font-family: "Poppins", sans-serif;
	margin: 0;
	padding: 0;
	text-decoration: none;
}
/*************** SECTION ******************/

section {
	background: linear-gradient(136.16deg, rgba(91, 135, 75, 0.97) 12.91%, rgba(12, 55, 32, 0.87) 87.68%);
	height: 100vh;
}
/*************** SECTION CONTAINER ******************/
section .container {
	max-width: 1100px;
	margin: 0 auto;
	padding-top: 50px;
	height: 100%; /*B-1.1 */
}
/*************** SECTION CONTAINER HEADER ******************/
section .container header,
section .container header .left,
section .container header .right {
	display: flex; /*Aligner le tout A-1.1*/
	justify-content: space-between;
	flex-direction: row; /*A-1.1 */
	align-items: center;
}
/*
 section .container nav {
	display: flex; /*Aligner le tout A-1.2
	align-items: center;
	flex-direction: row; /*A-1.2 
} */
section .container nav a {
	margin-left: 50px; /* Ecarter les linkS B-1 */
	color: white;
	font-size: 14px;
	outline: none;
}
section .container nav a:nth-child(5) {
	font-weight: 500;
	border: 1px solid white;
	padding: 10px 20px;
	border-radius: 50px;
}
/*B-*/
/*B-1.2-*/
section .container .main-content {
	height: 80%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
/*B-1.3- permet de toucher le .left(section .container > .left)*/
section .container .main-content .left {
	height: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
/*************** BLOC TXT ******************/
/*B-1.4*/
section .container .main-content .right {
	padding-left: 100px;
}
section .container .main-content .bloc-text {
	color: white;
}
section .container .main-content .bloc-text span {
	font-weight: 700;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}
section .container .main-content .bloc-text h1 {
	font-weight: 900;
	font-size: 68px;
	line-height: 109%;
	margin: 14px 0;
}
section .container .main-content .bloc-text p {
	font-size: 16px;
	line-height: 180%;
	margin: 25px 0;
}
/*************** BLOC BTN ******************/
/*C-*/
section .container .main-content .bloc-btn {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
/*TODO:bg Book now?*/
section .container .main-content .bloc-btn .book-now {
	padding: 10px 20px;
	background-image: url(../svg/btn-svg-filled.svg);
	background-size: 100% 100%;
	width: 170px;
	height: 83px;
	display: flex;
	align-items: center;
	justify-content: center;
}
