/*************** FONTS ******************/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
	font-family: "Poppins", sans-serif;
	margin: 0;
	padding: 0;
	text-decoration: none;
}
/*************** SECTION ******************/

section {
	background: linear-gradient(136.16deg, rgba(91, 135, 75, 0.97) 12.91%, rgba(12, 55, 32, 0.87) 87.68%);
	height: 100vh;
}
/*************** SECTION CONTAINER ******************/
section.container {
	max-width: 1100px;
	margin: 0 auto;
	padding-top: 50px;
}
/*************** SECTION CONTAINER HEADER ******************/
section .container header,
section .container header .left,
section .container header .right {
	display: flex; /*Aligner le tout A-1.1*/
	justify-content: space-between;
	flex-direction: row; /*A-1.1 */
	align-items: center;
}
/*
 section .container nav {
	display: flex; /*Aligner le tout A-1.2
	align-items: center;
	flex-direction: row; /*A-1.2 
} */
section .container nav a {
	margin-left: 50px; /* Ecarter les linkS B-1 */
	color: white;
	font-size: 14px;
	outline: none;
}
section .container nav a:nth-child(5) {
	font-weight: 500;
	border: 1px solid white;
	padding: 10px 20px;
	border-radius: 50px;
}
